@media only screen and (min-width: 1024px) {
  .mobile-only {
    display: none !important;
  }
}

section.stripe-blue {
  background: #dbf5fe;
}

@media only screen and (max-width: 1023px) {
  .donate-hero-iframe-container {
    padding-left: 30px;
  }
  .donate-hero-iframe-container iframe {
    padding-left: 15px;
  }
}

@media only screen and (min-width: 1024px) {
  .donate-hero-iframe-container .iframe-wrapper {
    width: 430px;
    margin: 0 auto;
    margin-right: 0;
  }
}

@media only screen and (max-width: 1023px) {
  .donate_hero_iframe .full-image {
    background-position: 43% 0;
  }
}

.stats-area .button-container {
  position: relative;
}

.stats-area .button-container a.btn {
  background: #fd7e14;
  color: #ffffff;
  border-radius: 4px;
  text-decoration: none;
  font-size: 36px;
  display: block;
  position: absolute;
  bottom: 0;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
}

@media only screen and (max-width: 1023px) {
  .stats-area .button-container a.btn {
    font-size: 22px;
    bottom: 50px;
  }
}

.stats-area .button-container a.btn:hover {
  background: #f15a29;
}

@keyframes entrepreneurship-desktop {
  0% {
    opacity: 1;
    transform: scale(1);
  }
  50% {
    opacity: 1;
    transform: scale(1.5);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes poverty-desktop {
  0% {
    opacity: 1;
    transform: scale(1);
  }
  50% {
    opacity: 0.2;
    transform: scale(0.65);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes entrepreneurship-mobile {
  0% {
    opacity: 0.2;
    transform: scale(0.75);
  }
  50% {
    opacity: 1;
    transform: scale(1);
  }
  100% {
    opacity: 0.2;
    transform: scale(0.75);
  }
}

@keyframes poverty-mobile {
  0% {
    opacity: 1;
    transform: scale(1);
  }
  50% {
    opacity: 0.2;
    transform: scale(0.75);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

@media only screen and (min-width: 1024px) {
  #circle-1 {
    position: relative;
    z-index: 99;
    left: 75px;
    animation: entrepreneurship-desktop 5s infinite;
  }
}

@media only screen and (max-width: 1023px) {
  #circle-1 {
    position: relative;
    z-index: 99;
    top: -75px;
    animation: entrepreneurship-mobile 5s infinite;
  }
}

@media only screen and (min-width: 1024px) {
  #circle-2 {
    position: relative;
    z-index: 98;
    left: -75px;
    animation: poverty-desktop 5s infinite;
  }
}

@media only screen and (max-width: 1023px) {
  #circle-2 {
    position: relative;
    top: -150px;
    z-index: 98;
    animation: poverty-mobile 5s infinite;
  }
}

#main.annual-report p,
#main.product-detail p,
#main.application-readiness p {
  line-height: 1.7;
}

#main.annual-report .intro,
#main.product-detail .intro,
#main.application-readiness .intro {
  margin-top: 60px;
  text-align: center;
}

#main.annual-report .benefits,
#main.product-detail .benefits,
#main.application-readiness .benefits {
  margin-top: 60px;
}

#main.annual-report .benefits .content,
#main.product-detail .benefits .content,
#main.application-readiness .benefits .content {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  align-content: center;
  position: relative;
}

@media only screen and (max-width: 1023px) {
  #main.annual-report .benefits .content,
  #main.product-detail .benefits .content,
  #main.application-readiness .benefits .content {
    text-align: center;
    padding-bottom: 30px;
  }
}

#main.annual-report .benefits .content a,
#main.product-detail .benefits .content a,
#main.application-readiness .benefits .content a {
  margin-top: 40px;
  min-width: 200px;
}

@media only screen and (max-width: 1023px) {
  #main.annual-report .benefits .content a,
  #main.product-detail .benefits .content a,
  #main.application-readiness .benefits .content a {
    position: static;
    left: auto;
    bottom: auto;
    display: block;
    width: 100%;
  }
}

#main.annual-report .benefits .items .item,
#main.product-detail .benefits .items .item,
#main.application-readiness .benefits .items .item {
  margin-bottom: 30px;
}

#main.annual-report .benefits .items .item .heading,
#main.product-detail .benefits .items .item .heading,
#main.application-readiness .benefits .items .item .heading {
  display: flex;
  flex-flow: row;
  align-items: center;
  margin-bottom: 15px;
}

#main.annual-report .benefits .items .item .heading h4,
#main.product-detail .benefits .items .item .heading h4,
#main.application-readiness .benefits .items .item .heading h4 {
  margin-bottom: 0;
  margin-left: 15px;
}

#main.annual-report .benefits .items .item .heading img,
#main.product-detail .benefits .items .item .heading img,
#main.application-readiness .benefits .items .item .heading img {
  width: 55px;
  height: auto;
}

#main.annual-report .image,
#main.product-detail .image,
#main.application-readiness .image {
  margin-top: 60px;
}

#main.annual-report .image .inner img,
#main.product-detail .image .inner img,
#main.application-readiness .image .inner img {
  max-width: 100%;
  width: 100%;
  height: auto;
}

#main.annual-report .features,
#main.product-detail .features,
#main.application-readiness .features {
  padding: 60px 0;
}

@media only screen and (max-width: 1023px) {
  #main.annual-report .features h4,
  #main.product-detail .features h4,
  #main.application-readiness .features h4 {
    margin-top: 30px;
    text-align: center;
  }
}

#main.annual-report .features .terms,
#main.product-detail .features .terms,
#main.application-readiness .features .terms {
  list-style-type: none;
  list-style: none;
  padding-left: 0;
}

#main.annual-report .features .terms li,
#main.product-detail .features .terms li,
#main.application-readiness .features .terms li {
  background-color: #3ab949;
  padding: 15px;
  color: white;
  display: flex;
  flex-flow: row;
  align-items: center;
  font-size: 2em;
  margin-bottom: 10px;
  font-weight: bold;
}

#main.annual-report .features .terms li em,
#main.product-detail .features .terms li em,
#main.application-readiness .features .terms li em {
  font-style: normal;
  font-weight: normal;
  font-size: .5em;
  margin: 0 10px;
}

#main.annual-report .features .card span img,
#main.product-detail .features .card span img,
#main.application-readiness .features .card span img {
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
}

#main.annual-report .qualification,
#main.product-detail .qualification,
#main.application-readiness .qualification {
  padding: 60px 0 0 0;
}

#main.annual-report .qualification .intro-heading .heading,
#main.product-detail .qualification .intro-heading .heading,
#main.application-readiness .qualification .intro-heading .heading {
  display: flex;
  flex-flow: row;
  align-items: center;
  margin-bottom: 15px;
}

#main.annual-report .qualification .intro-heading .heading h4,
#main.product-detail .qualification .intro-heading .heading h4,
#main.application-readiness .qualification .intro-heading .heading h4 {
  margin-bottom: 0;
  margin-left: 15px;
}

#main.annual-report .qualification .intro-heading .heading img,
#main.product-detail .qualification .intro-heading .heading img,
#main.application-readiness .qualification .intro-heading .heading img {
  width: 55px;
  height: auto;
}

#main.annual-report .qualification ul,
#main.product-detail .qualification ul,
#main.application-readiness .qualification ul {
  list-style-type: none;
  padding-left: 0;
}

#main.annual-report .embed-viewer,
#main.product-detail .embed-viewer,
#main.application-readiness .embed-viewer {
  margin-top: 60px;
  padding: 60px 0;
}

#main.annual-report .embed-viewer .button,
#main.product-detail .embed-viewer .button,
#main.application-readiness .embed-viewer .button {
  margin-top: 30px;
}

#main.annual-report .embed-viewer .button a,
#main.product-detail .embed-viewer .button a,
#main.application-readiness .embed-viewer .button a {
  font-size: 24px;
}

#main.annual-report .client-stories,
#main.product-detail .client-stories,
#main.application-readiness .client-stories {
  padding: 60px 0;
}

#main.annual-report .client-stories .item,
#main.product-detail .client-stories .item,
#main.application-readiness .client-stories .item {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  background-color: white;
  border-radius: 8px;
  margin-bottom: 30px;
}

#main.annual-report .client-stories .item .inner,
#main.product-detail .client-stories .item .inner,
#main.application-readiness .client-stories .item .inner {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

@media only screen and (max-width: 1023px) {
  #main.annual-report .client-stories .item .inner,
  #main.product-detail .client-stories .item .inner,
  #main.application-readiness .client-stories .item .inner {
    display: block;
  }
}

#main.annual-report .client-stories .item .inner .photo,
#main.product-detail .client-stories .item .inner .photo,
#main.application-readiness .client-stories .item .inner .photo {
  width: 50%;
}

@media only screen and (max-width: 1023px) {
  #main.annual-report .client-stories .item .inner .photo,
  #main.product-detail .client-stories .item .inner .photo,
  #main.application-readiness .client-stories .item .inner .photo {
    width: 100%;
  }
}

#main.annual-report .client-stories .item .inner .photo img,
#main.product-detail .client-stories .item .inner .photo img,
#main.application-readiness .client-stories .item .inner .photo img {
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  max-width: 100%;
}

@media only screen and (max-width: 1023px) {
  #main.annual-report .client-stories .item .inner .photo img,
  #main.product-detail .client-stories .item .inner .photo img,
  #main.application-readiness .client-stories .item .inner .photo img {
    border-top-right-radius: 8px;
    border-bottom-left-radius: 0;
  }
}

#main.annual-report .client-stories .item .inner .content,
#main.product-detail .client-stories .item .inner .content,
#main.application-readiness .client-stories .item .inner .content {
  width: 50%;
}

@media only screen and (max-width: 1023px) {
  #main.annual-report .client-stories .item .inner .content,
  #main.product-detail .client-stories .item .inner .content,
  #main.application-readiness .client-stories .item .inner .content {
    width: 100%;
  }
}

#main.annual-report .client-stories .item .inner .content .inner,
#main.product-detail .client-stories .item .inner .content .inner,
#main.application-readiness .client-stories .item .inner .content .inner {
  padding: 60px;
}

@media only screen and (max-width: 1023px) {
  #main.annual-report .client-stories .item .inner .content .inner,
  #main.product-detail .client-stories .item .inner .content .inner,
  #main.application-readiness .client-stories .item .inner .content .inner {
    padding: 30px;
  }
}

#main.annual-report .client-stories .item .inner.image-right,
#main.product-detail .client-stories .item .inner.image-right,
#main.application-readiness .client-stories .item .inner.image-right {
  flex-flow: row-reverse wrap;
}

#main.annual-report .client-stories .item .inner.image-right .photo img,
#main.product-detail .client-stories .item .inner.image-right .photo img,
#main.application-readiness .client-stories .item .inner.image-right .photo img {
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

@media only screen and (max-width: 1023px) {
  #main.annual-report .client-stories .item .inner.image-right .photo img,
  #main.product-detail .client-stories .item .inner.image-right .photo img,
  #main.application-readiness .client-stories .item .inner.image-right .photo img {
    border-top-left-radius: 8px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }
}

#main.annual-report .donate iframe,
#main.product-detail .donate iframe,
#main.application-readiness .donate iframe {
  margin: 0 auto;
}

#main.annual-report .more-options,
#main.product-detail .more-options,
#main.application-readiness .more-options {
  padding: 60px 0;
}

#main.annual-report .more-options .option,
#main.product-detail .more-options .option,
#main.application-readiness .more-options .option {
  padding-top: 30px;
}

#main.annual-report .more-options .option p,
#main.product-detail .more-options .option p,
#main.application-readiness .more-options .option p {
  padding-top: 15px;
}

#main.annual-report .product-cta,
#main.product-detail .product-cta,
#main.application-readiness .product-cta {
  text-align: center;
  padding: 60px 0;
}

#main.annual-report .product-cta .carousel p.mb-0,
#main.product-detail .product-cta .carousel p.mb-0,
#main.application-readiness .product-cta .carousel p.mb-0 {
  font-size: 12px;
  line-height: 15px;
}

#main.annual-report .more-info,
#main.product-detail .more-info,
#main.application-readiness .more-info {
  padding: 60px 0;
}

#main.annual-report .more-info .item-1,
#main.product-detail .more-info .item-1,
#main.application-readiness .more-info .item-1 {
  border-right: solid 1px #ccc;
}

@media only screen and (max-width: 1023px) {
  #main.annual-report .more-info .item-1,
  #main.product-detail .more-info .item-1,
  #main.application-readiness .more-info .item-1 {
    padding-bottom: 30px;
    border-right: none;
  }
}

#main.annual-report .more-info .links a,
#main.product-detail .more-info .links a,
#main.application-readiness .more-info .links a {
  display: inline-block;
  margin: 0 1em;
  font-weight: bold;
}

#main.annual-report .more-info .button,
#main.product-detail .more-info .button,
#main.application-readiness .more-info .button {
  padding-top: 30px;
}

#main.annual-report .how-to-apply,
#main.product-detail .how-to-apply,
#main.application-readiness .how-to-apply {
  padding: 0 0 60px 0;
}

#main.annual-report .how-to-apply .items,
#main.product-detail .how-to-apply .items,
#main.application-readiness .how-to-apply .items {
  list-style: none;
  padding: 0;
  margin-top: 60px;
}

#main.annual-report .how-to-apply .items li,
#main.product-detail .how-to-apply .items li,
#main.application-readiness .how-to-apply .items li {
  position: relative;
  margin-bottom: 30px;
}

#main.annual-report .how-to-apply .items li span,
#main.product-detail .how-to-apply .items li span,
#main.application-readiness .how-to-apply .items li span {
  position: absolute;
  top: -10px;
  left: calc(50% - 16px);
  display: block;
  background-color: white;
  border: solid 2px black;
  border-radius: 50%;
  width: 32px;
  height: 32px;
  text-align: center;
  line-height: 29px;
  font-weight: bold;
}

#main.annual-report .how-to-apply .items li img,
#main.product-detail .how-to-apply .items li img,
#main.application-readiness .how-to-apply .items li img {
  width: 150px;
}

#main.annual-report .how-to-apply .items li label,
#main.product-detail .how-to-apply .items li label,
#main.application-readiness .how-to-apply .items li label {
  margin-top: 10px;
  font-weight: bold;
}

#main.annual-report .how-to-apply .items li label em,
#main.product-detail .how-to-apply .items li label em,
#main.application-readiness .how-to-apply .items li label em {
  display: block;
  font-size: 85%;
  font-style: normal;
}

#main.annual-report .questions,
#main.product-detail .questions,
#main.application-readiness .questions {
  padding: 60px 0;
}

#main.annual-report .questions .button a,
#main.product-detail .questions .button a,
#main.application-readiness .questions .button a {
  font-weight: bold;
}

.product-grid {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

@media only screen and (max-width: 1023px) {
  .product-grid {
    display: block;
  }
}

.product-grid .product {
  border-radius: 16px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
  margin: 15px;
  text-align: left;
  position: relative;
  width: 47%;
}

@media only screen and (max-width: 1023px) {
  .product-grid .product {
    width: calc(100% - 30px);
  }
}

.product-grid .product img {
  width: 100%;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  margin-bottom: 15px;
}

.product-grid .product .content {
  padding: 25px;
  padding-top: 0;
  padding-bottom: 60px;
}

.product-grid .product .content ul {
  padding-left: 20px;
}

.product-grid .product .content ul li {
  text-align: left;
}

.product-grid .product .content .expand-trigger {
  font-weight: bold;
  margin-bottom: 45px;
}

.product-grid .product .content .expand-trigger a em {
  font-style: normal;
}

.product-grid .product .content .expand-trigger a strong {
  display: none;
}

.product-grid .product .content .expand-trigger a span {
  display: inline-block;
  margin-left: 10px;
  transition: all 500ms;
}

.product-grid .product .content .extra {
  display: none;
  margin-top: -30px;
}

.product-grid .product .content.expanded .expand-trigger a span {
  transform: rotate(-90deg);
}

.product-grid .product .button {
  text-align: center;
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 30px 0;
}

.product-grid .product .button a {
  font-weight: bold;
}

.news-listing {
  /* Numbered Pagination */
}

.news-listing .featured-post .card {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  background: none;
  box-shadow: none;
  padding-top: 30px;
  padding-bottom: 30px;
}

.news-listing .featured-post .card .image {
  width: 33%;
}

.news-listing .featured-post .card .image img {
  border-bottom-left-radius: 0.75rem;
  border-bottom-right-radius: 0.75rem;
}

.news-listing .featured-post .card .content {
  width: 66%;
}

.news-listing .blog-pagination {
  display: block;
  text-align: center;
  margin-bottom: 60px;
  width: 100%;
}

.news-listing .blog-pagination > div {
  display: inline-block;
}

.news-listing .blog-pagination a {
  display: inline-block;
  text-align: center;
  border-radius: 4px;
  padding: 5px 10px;
}

.news-listing .blog-pagination a:hover, .news-listing .blog-pagination a:focus {
  background-color: #c8ecff;
  text-decoration: none;
}

.news-listing .blog-pagination a.elipses {
  border: 0;
}

.news-listing .blog-pagination a.active {
  background-color: #f5f5f5;
  color: #666;
  pointer-events: none;
  cursor: default;
}

.news-listing .blog-pagination a.next-link, .news-listing .blog-pagination a.prev-link {
  background-color: #666;
  color: #fff;
}

.news-listing .blog-pagination a.next-link:hover, .news-listing .blog-pagination a.prev-link:hover {
  background-color: #008cd4;
  color: #fff;
}

.news-listing .tags h3, .news-listing .months h3 {
  text-align: right;
}

.news-listing .tags ul, .news-listing .months ul {
  list-style: none;
  padding-left: 0px;
}

.news-listing .tags ul li, .news-listing .months ul li {
  text-align: right;
}

.news-listing .tags ul li a, .news-listing .months ul li a {
  color: #999;
}

.news-listing .tags ul li a:hover, .news-listing .months ul li a:hover {
  text-decoration: underline;
  color: #fd7e14;
}

.testimonial-listing {
  /* Numbered Pagination */
}

.testimonial-listing .featured-post .card {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  background: none;
  box-shadow: none;
  padding-top: 30px;
  padding-bottom: 30px;
}

.testimonial-listing .featured-post .card .image {
  width: 33%;
}

.testimonial-listing .featured-post .card .image img {
  border-bottom-left-radius: 0.75rem;
  border-bottom-right-radius: 0.75rem;
}

.testimonial-listing .featured-post .card .content {
  width: 66%;
}

.testimonial-listing .blog-pagination {
  display: block;
  text-align: center;
  margin-bottom: 60px;
  width: 100%;
}

.testimonial-listing .blog-pagination > div {
  display: inline-block;
}

.testimonial-listing .blog-pagination a {
  display: inline-block;
  text-align: center;
  border-radius: 4px;
  padding: 5px 10px;
}

.testimonial-listing .blog-pagination a:hover, .testimonial-listing .blog-pagination a:focus {
  background-color: #c8ecff;
  text-decoration: none;
}

.testimonial-listing .blog-pagination a.elipses {
  border: 0;
}

.testimonial-listing .blog-pagination a.active {
  background-color: #f5f5f5;
  color: #666;
  pointer-events: none;
  cursor: default;
}

.testimonial-listing .blog-pagination a.next-link, .testimonial-listing .blog-pagination a.prev-link {
  background-color: #666;
  color: #fff;
}

.testimonial-listing .blog-pagination a.next-link:hover, .testimonial-listing .blog-pagination a.prev-link:hover {
  background-color: #008cd4;
  color: #fff;
}

.testimonial-listing .tags h3, .testimonial-listing .months h3 {
  text-align: right;
}

.testimonial-listing .tags ul, .testimonial-listing .months ul {
  list-style: none;
  padding-left: 0px;
}

.testimonial-listing .tags ul li, .testimonial-listing .months ul li {
  text-align: right;
}

.testimonial-listing .tags ul li a, .testimonial-listing .months ul li a {
  color: #999;
}

.testimonial-listing .tags ul li a:hover, .testimonial-listing .months ul li a:hover {
  text-decoration: underline;
  color: #fd7e14;
}

.client-testimonial img {
  border-radius: 8px;
  margin-bottom: 30px;
}

.white-label section {
  padding: 60px 0;
}

@media only screen and (max-width: 1023px) {
  .white-label section {
    padding: 30px 0;
  }
}

.white-label .partner-header .logo {
  text-align: center;
}

.white-label .partner-header .logo img {
  margin: 15px auto;
}

@media only screen and (max-width: 1023px) {
  .white-label .partner-header .logo img {
    max-width: 250px;
  }
}

.white-label .partner-header .logo-partner {
  border-right: solid 2px #ccc;
}

@media only screen and (max-width: 1023px) {
  .white-label .partner-header .logo-partner {
    border-right: none;
    border-bottom: solid 2px #ccc;
  }
}

@media only screen and (max-width: 1023px) and (max-width: 1023px) {
  .white-label .partner-header .logo-partner img {
    max-width: 250px;
  }
}

.white-label .partner-hero {
  padding: 0;
}

.white-label .partner-hero .inner {
  padding: 60px 0;
  text-align: right;
  background-size: cover;
  background-position: center;
}

.white-label .partner-hero .inner .hero-content h1 {
  font-size: 65px;
  width: 50%;
  margin-left: auto;
}

@media only screen and (max-width: 1023px) {
  .white-label .partner-hero .inner .hero-content h1 {
    width: 70%;
    font-size: 24px;
  }
}

.white-label .partner-hero .inner .hero-content a.btn {
  font-size: 32px;
}

@media only screen and (max-width: 1023px) {
  .white-label .partner-hero .inner .hero-content a.btn {
    font-size: 24px;
  }
}

.white-label .partner-hero .content {
  padding: 0;
}

.white-label .partner-hero .content .sectionlink {
  font-size: 32px;
}

@media only screen and (max-width: 1023px) {
  .white-label .partner-hero .content .sectionlink {
    font-size: 18px;
  }
}

.white-label .partner-hero .content .sectionlink a {
  color: #333;
  display: block;
  padding: 45px 0;
}

@media only screen and (max-width: 1023px) {
  .white-label .partner-hero .content .sectionlink a {
    padding: 20px 0;
  }
}

.white-label .partner-hero .content .sectionlink a:hover {
  background-color: #ffffff;
  color: #f15a29;
}

@media only screen and (max-width: 1023px) {
  .white-label .partner-hero .content .sectionlink {
    width: 100%;
    font-size: 24px;
  }
}

@media only screen and (min-width: 1024px) {
  .white-label .partner-hero .content .sectionlink.midlink {
    border-left: solid 2px #EEE;
    border-right: solid 2px #EEE;
  }
}

.white-label .partner-hero .content a.btn {
  font-size: 34px;
}

@media only screen and (max-width: 1023px) {
  .white-label .partner-hero .content a.btn {
    font-size: 24px;
  }
}

.white-label .partner-intro .partner-block {
  padding: 30px;
  margin: 50px 0;
  border-radius: 8px;
  background-color: #ffffff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
}

.white-label .partner-intro .partner-block .inner {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
}

.white-label .partner-intro .partner-block .inner .image {
  width: calc(33% - 30px);
}

@media only screen and (max-width: 1023px) {
  .white-label .partner-intro .partner-block .inner .image {
    width: 100%;
  }
}

.white-label .partner-intro .partner-block .inner .image img {
  max-width: 100%;
  margin: 15px;
}

@media only screen and (max-width: 1023px) {
  .white-label .partner-intro .partner-block .inner .image img {
    margin: 0 auto;
  }
}

.white-label .partner-intro .partner-block .inner .content {
  width: 66%;
  font-size: 23px;
}

@media only screen and (max-width: 1023px) {
  .white-label .partner-intro .partner-block .inner .content {
    width: 100%;
    font-size: 18px;
  }
}

.white-label .partner-intro .partner-block .inner .content > * {
  padding: 15px;
  margin: 0;
}

.white-label .partner-intro .partner-block.logo-right .inner {
  flex-flow: row-reverse wrap;
}

.white-label .partner-intro .pullquote {
  margin: 50px 0 0;
}

.white-label .partner-intro .pullquote .inner {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
}

.white-label .partner-intro .pullquote .inner .image {
  width: 33%;
}

@media only screen and (max-width: 1023px) {
  .white-label .partner-intro .pullquote .inner .image {
    width: 100%;
  }
}

.white-label .partner-intro .pullquote .inner .image img {
  max-width: 100%;
}

.white-label .partner-intro .pullquote .inner .content {
  width: 63%;
  font-size: 24px;
  color: #666;
}

@media only screen and (max-width: 1023px) {
  .white-label .partner-intro .pullquote .inner .content {
    width: 100%;
  }
}

.white-label .partner-intro .pullquote .inner .content span.quote {
  display: block;
  color: #23bfee;
  font-size: 150px;
  font-weight: 900;
  line-height: 25px;
}

.white-label .partner-intro .pullquote.image_right .inner {
  flex-flow: row-reverse wrap;
}

.white-label .partner-intro .pullquote.image_right .inner .content span.quote {
  text-align: right;
}

.white-label .partner-intro .pullquote.no_image .inner .image {
  display: none;
}

.white-label .partner-intro .pullquote.no_image .inner .content {
  width: 100%;
}

.white-label .partner-intro .pullquote.no_image .inner .content span.quote {
  text-align: right;
}

.white-label .partner-states {
  background-color: #F7F6F8;
}

@media only screen and (max-width: 1023px) {
  .white-label .partner-states .content {
    text-align: center;
  }
}

.white-label .partner-products .product-grid {
  justify-content: center;
}

.white-label .partner-products .product-grid .content .extra ul {
  padding-left: 0;
  list-style: none;
}

.white-label .partner-products .product-grid .content .extra ul li {
  list-style: none;
}

.white-label .partner-products .product-grid .content .extra ul li:before {
  content: '';
  display: inline-block;
  position: relative;
  top: 7px;
  height: 28px;
  width: 28px;
  margin-right: 7px;
  background-image: url("https://go.dreamspring.org/hubfs/check.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.white-label .partner-questions #hs_cos_wrapper_partner_form .inputs-list.multi-container {
  list-style: none;
  padding-left: 0;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

.white-label .partner-questions #hs_cos_wrapper_partner_form .hs-error-msgs {
  padding-left: 0;
  list-style: none;
}

.white-label .partner-questions #hs_cos_wrapper_partner_form .hs-error-msgs li {
  background-color: #f5ca99;
}

.white-label .partner-questions #hs_cos_wrapper_partner_form .hs-error-msgs li .hs-error-msg {
  display: block;
  padding: 15px;
  font-weight: bold;
}

.partners-page section {
  padding: 60px 0;
}

@media only screen and (max-width: 1023px) {
  .partners-page section {
    padding: 30px 0;
  }
}

.partners-page .partner-hero {
  background-size: cover;
  margin-top: 25px;
}

.partners-page .partner-hero .inner .form {
  width: 400px;
  padding: 30px;
  background-color: #dbf5fe;
  position: relative;
  left: calc(100% - 460px);
}

@media only screen and (max-width: 1023px) {
  .partners-page .partner-hero .inner .form {
    position: static;
    width: 100%;
  }
}

.partners-page .partner-hero .inner .form h1 {
  line-height: 1.1;
  text-align: center;
}

@media only screen and (max-width: 1023px) {
  .partners-page .partner-hero .inner .form h1 {
    font-size: 1.25rem;
  }
}

@media only screen and (max-width: 1023px) {
  .partners-page .partner-hero .inner .form p {
    text-align: center;
  }
}

.partners-page .partner-hero .inner.content-left .form {
  left: 0;
}

@media only screen and (max-width: 1023px) {
  .partners-page .partners .partner {
    width: 100%;
  }
}

@media only screen and (min-width: 1024px) {
  .partners-page .partner-cta a {
    font-size: 1.25rem;
  }
}

.partners-page div.bg-light {
  border-top-left-radius: 50px;
  border-bottom-right-radius: 50px;
  background-color: rgba(50, 177, 218, 0.75) !important;
}

.partners-page div.bg-light h2 {
  color: white !important;
}

.partners-page div.bg-light .nav-box a h4 {
  color: white !important;
}

.partners-page div.bg-light .nav-box a h4 + div {
  display: none !important;
}

.partners-page div.bg-light .nav-box a.active h4 {
  color: rgba(50, 177, 218, 0.75) !important;
}

.home-2022 {
  font-family: 'Sofia Pro';
}

.home-2022 h1, .home-2022 h2, .home-2022 h3 {
  font-family: 'Sofia Pro';
}

.home-2022 section {
  padding: 60px 0px;
}

.home-2022 a.btn {
  font-size: 100%;
  padding: 1em 3em;
  border-radius: 6px;
}

.home-2022 .home-hero {
  background-size: cover;
}

@media only screen and (min-width: 1024px) {
  .home-2022 .home-hero {
    margin-top: 30px;
    padding-top: 120px;
    padding-bottom: 120px;
  }
}

@media only screen and (max-width: 1023px) {
  .home-2022 .home-hero {
    padding-top: 130px;
    margin-bottom: calc(15vw + 170px);
    background-repeat: no-repeat;
  }
}

.home-2022 .home-hero .hero-copy {
  padding: 60px;
  padding-right: 40px;
  background-color: rgba(50, 177, 218, 0.75);
  border-bottom-right-radius: 100px;
  max-width: 50%;
}

@media only screen and (min-width: 1024px) {
  .home-2022 .home-hero .hero-copy {
    padding-left: calc(15vw - 60px);
  }
}

@media only screen and (max-width: 1023px) {
  .home-2022 .home-hero .hero-copy {
    max-width: none;
    width: 100%;
    margin-top: 60px;
    position: absolute;
    border-radius: 0;
    padding: 30px;
    text-align: center;
  }
}

.home-2022 .home-hero .hero-copy h1 {
  font-family: 'Sofia Pro';
  color: white;
  margin-bottom: 0.5em;
  font-size: 325%;
}

@media only screen and (max-width: 1023px) {
  .home-2022 .home-hero .hero-copy h1 {
    font-size: 6vw;
  }
}

.home-2022 .home-subhero .item .inner {
  text-align: center;
  padding: 0 45px;
}

@media only screen and (min-width: 1024px) {
  .home-2022 .home-subhero .item .inner {
    min-height: 330px;
    position: relative;
  }
}

@media only screen and (max-width: 1023px) {
  .home-2022 .home-subhero .item {
    margin-bottom: 25px;
  }
}

.home-2022 .home-subhero .item img {
  margin-bottom: 25px;
  width: 150px;
}

.home-2022 .home-subhero .item span {
  color: #16212a;
  font-size: 24px;
  line-height: 1.2em;
  font-weight: bold;
  display: block;
}

.home-2022 .home-subhero .item a {
  width: 100%;
  display: block;
  text-align: center;
}

@media only screen and (min-width: 1024px) {
  .home-2022 .home-subhero .item a {
    position: absolute;
    bottom: 15px;
    margin-left: -45px;
  }
}

@media only screen and (max-width: 1023px) {
  .home-2022 .home-subhero .item a {
    margin-top: 20px;
  }
}

@media only screen and (min-width: 1024px) {
  .home-2022 .home-subhero .item.middle-item .inner {
    border-left: solid 1px rgba(0, 0, 0, 0.25);
    border-right: solid 1px rgba(0, 0, 0, 0.25);
  }
}

.home-2022 .home-products .content h2 {
  margin-bottom: 30px;
  font-size: 40px;
}

@media only screen and (max-width: 1023px) {
  .home-2022 .home-products .content h2 {
    font-size: 28px;
  }
}

.home-2022 .home-products .content h2 span {
  display: inline-block;
  background-color: #8fc741;
  width: 55px;
  height: 25px;
  border-top-left-radius: 50px;
  border-bottom-right-radius: 50px;
  position: relative;
  top: -25px;
  margin-left: 10px;
}

@media only screen and (max-width: 1023px) {
  .home-2022 .home-products .content h2 span {
    top: 0;
  }
}

.home-2022 .home-products .content p {
  padding-bottom: 30px;
  font-size: 18px;
  line-height: 1.7;
  color: #16212a;
}

.home-2022 .home-products .product {
  margin-bottom: 30px;
}

.home-2022 .home-products .product .image {
  border-radius: 200px;
  width: 200px;
  height: 200px;
  overflow: hidden;
  margin: 0 auto;
  margin-bottom: 30px;
}

.home-2022 .home-products .product .image img {
  max-width: 340px;
  margin-left: -67px;
}

.home-2022 .home-products .product h3 {
  font-size: 24px;
  margin: auto;
  max-width: 80%;
  margin-bottom: 25px;
}

.home-2022 .home-clients {
  padding-bottom: 0;
}

@media only screen and (max-width: 1023px) {
  .home-2022 .home-clients .image {
    margin-bottom: 30px;
  }
}

.home-2022 .home-clients .image img {
  max-width: 100%;
  height: auto;
}

.home-2022 .home-clients .content {
  margin-bottom: 15px;
}

@media only screen and (max-width: 1023px) {
  .home-2022 .home-clients .content {
    text-align: center;
  }
}

.home-2022 .home-clients .content span.eyebrow {
  display: inline-block;
  background-color: #8fc741;
  color: #ffffff;
  font-weight: 700;
  padding: 10px 50px;
  border-top-left-radius: 50px;
  border-bottom-right-radius: 50px;
  margin-bottom: 15px;
}

.home-2022 .home-clients .content p {
  font-size: 18px;
  line-height: 1.7em;
  color: #16212a;
}

.home-2022 .home-clients .content h2 {
  font-size: 45px;
  line-height: 1.2;
}

@media only screen and (max-width: 1023px) {
  .home-2022 .home-clients .content h2 {
    font-size: 28px;
  }
}

.home-2022 .home-support h2 {
  margin-bottom: 30px;
  font-size: 40px;
}

@media only screen and (max-width: 1023px) {
  .home-2022 .home-support h2 {
    font-size: 24px;
  }
}

.home-2022 .home-support h2 span {
  display: inline-block;
  background-color: #8fc741;
  width: 55px;
  height: 25px;
  border-top-left-radius: 50px;
  border-bottom-right-radius: 50px;
  position: relative;
  top: -25px;
  margin-left: 10px;
}

@media only screen and (max-width: 1023px) {
  .home-2022 .home-support h2 span {
    top: 0;
  }
}

@media only screen and (max-width: 1023px) {
  .home-2022 .home-support .item {
    margin-bottom: 30px;
  }
}

.home-2022 .home-support .inner {
  border-radius: 6px;
  background-color: #ffffff;
  padding-bottom: 15px;
}

.home-2022 .home-support .inner img {
  max-width: 100%;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}

.home-2022 .home-support .inner .content {
  padding: 30px 60px 0 60px;
}

.home-2022 .home-support .inner .content h3 {
  font-size: 24px;
}

.home-2022 .home-support .inner .content p {
  line-height: 1.8;
  color: #16212a;
}

.home-2022 .home-support .inner > a {
  display: block;
  text-align: center;
  padding: 15px;
}

@media only screen and (max-width: 1023px) {
  .home-2022 .home-partners .content {
    text-align: center;
  }
}

.home-2022 .home-partners .content h2 {
  font-size: 40px;
}

.home-2022 .home-partners .content p {
  font-size: 18px;
  line-height: 1.7;
  color: #16212a;
}

.home-2022 .home-partners .content > a {
  margin-top: 25px;
}

.home-2022 .home-partners .partner-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

@media only screen and (max-width: 1023px) {
  .home-2022 .home-partners .partner-container {
    margin-top: 60px;
  }
}

.home-2022 .home-partners .partner-container img {
  margin: 10px;
}

@media only screen and (max-width: 1023px) {
  .home-2022 .home-partners .partner-container img {
    margin: 5px;
    width: 45%;
  }
}

@media only screen and (max-width: 1023px) {
  .home-2022 .home-partners .logos {
    margin-top: 30px;
  }
}

.home-2022 .home-stats {
  background-size: cover;
}

.home-2022 .home-stats .stats-copy {
  padding: 60px;
  background-color: rgba(50, 177, 218, 0.75);
  border-bottom-right-radius: 100px;
  font-size: 18px;
  line-height: 1.7em;
}

.home-2022 .home-stats .stats-copy h2, .home-2022 .home-stats .stats-copy p {
  color: #ffffff;
}

@media only screen and (max-width: 1023px) {
  .home-2022 .home-stats .stats-copy {
    max-width: none;
    width: 100%;
    margin-top: 60px;
    border-radius: 0;
    font-size: 18px;
  }
}

@media only screen and (min-width: 1024px) {
  .home-2022 .home-stats .stats-numbers {
    margin-top: 40px;
  }
}

.home-2022 .home-testimonials {
  background-size: cover;
}

@media only screen and (max-width: 1023px) {
  .home-2022 .home-testimonials {
    padding-top: 130px;
    margin-bottom: calc(15vw + 540px);
  }
}

.home-2022 .home-testimonials .testimonial-copy {
  padding: 60px;
  background-color: rgba(50, 177, 218, 0.75);
  border-bottom-right-radius: 100px;
  max-width: 50%;
  color: white;
  font-size: 24px;
  line-height: 1.7em;
}

@media only screen and (max-width: 1023px) {
  .home-2022 .home-testimonials .testimonial-copy {
    max-width: none;
    width: 100%;
    margin-top: 60px;
    position: absolute;
    border-radius: 0;
    font-size: 18px;
  }
}

.home-2022 .home-testimonials .testimonial-copy > span {
  text-indent: -999em;
  display: block;
  width: 75px;
  height: 75px;
  background-image: url("https://go.dreamspring.org/hubfs/testimonial-quote.svg");
  background-repeat: no-repeat;
  margin-bottom: 15px;
}

.home-2022 .home-testimonials .testimonial-copy p.byline {
  font-size: 14px;
  line-height: 1.4em;
}

.home-2022 .home-testimonials .testimonial-copy a.btn {
  margin-top: 15px;
  font-size: 18px;
  background-color: rgba(7, 87, 114, 0.7);
  border: none;
}

@media only screen and (max-width: 1023px) {
  .home-2022 .home-testimonials .testimonial-copy a.btn {
    font-size: 16px;
  }
}

@media only screen and (min-width: 1024px) {
  .home-2022 .home-testimonials .testimonial-copy {
    padding-left: calc(15vw - 60px);
  }
}

.partner-pac section {
  padding: 60px 0;
}

@media only screen and (max-width: 1023px) {
  .partner-pac section {
    padding: 30px 0;
  }
}

.partner-pac .partner-header {
  padding: 10px 0;
}

.partner-pac .partner-header .logo {
  text-align: center;
}

.partner-pac .partner-header .logo img {
  margin: 15px auto;
}

@media only screen and (max-width: 1023px) {
  .partner-pac .partner-header .logo img {
    max-width: 250px;
  }
}

.partner-pac .partner-header .logo-partners .logos {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
}

.partner-pac .partner-header .logo-partners .logos img {
  max-width: 200px;
  width: calc(100% - 15px);
  height: auto;
  margin-right: 15px;
}

@media only screen and (max-width: 1023px) {
  .partner-pac .partner-header .logo-partners .logos img {
    margin-right: auto;
    max-width: 100px;
  }
}

.partner-pac .partner-hero {
  padding: 0;
}

.partner-pac .partner-hero .inner {
  padding: 60px 0;
  text-align: right;
  background-size: cover;
  background-position: center;
}

.partner-pac .partner-hero .inner .hero-content h1 {
  font-size: 65px;
  width: 50%;
  margin-left: auto;
}

@media only screen and (max-width: 1023px) {
  .partner-pac .partner-hero .inner .hero-content h1 {
    width: 70%;
    font-size: 24px;
  }
}

.partner-pac .partner-hero .inner .hero-content a.btn {
  font-size: 32px;
}

@media only screen and (max-width: 1023px) {
  .partner-pac .partner-hero .inner .hero-content a.btn {
    font-size: 24px;
  }
}

.partner-pac .partner-hero .content {
  padding: 0;
}

.partner-pac .partner-hero .content .sectionlink {
  font-size: 32px;
}

@media only screen and (max-width: 1023px) {
  .partner-pac .partner-hero .content .sectionlink {
    font-size: 18px;
  }
}

.partner-pac .partner-hero .content .sectionlink a {
  color: #333;
  display: block;
  padding: 45px 0;
}

@media only screen and (max-width: 1023px) {
  .partner-pac .partner-hero .content .sectionlink a {
    padding: 20px 0;
  }
}

.partner-pac .partner-hero .content .sectionlink a:hover {
  background-color: #ffffff;
  color: #f15a29;
}

@media only screen and (max-width: 1023px) {
  .partner-pac .partner-hero .content .sectionlink {
    width: 100%;
    font-size: 24px;
  }
}

@media only screen and (min-width: 1024px) {
  .partner-pac .partner-hero .content .sectionlink.midlink {
    border-left: solid 2px #EEE;
    border-right: solid 2px #EEE;
  }
}

.partner-pac .partner-hero .content a.btn {
  font-size: 34px;
}

@media only screen and (max-width: 1023px) {
  .partner-pac .partner-hero .content a.btn {
    font-size: 24px;
  }
}

.partner-pac .partner-intro .partner-block {
  padding: 30px;
  margin: 50px 0;
  border-radius: 8px;
  background-color: #ffffff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
}

.partner-pac .partner-intro .partner-block .inner {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
}

.partner-pac .partner-intro .partner-block .inner .image {
  width: calc(33% - 30px);
  text-align: center;
}

@media only screen and (max-width: 1023px) {
  .partner-pac .partner-intro .partner-block .inner .image {
    width: 100%;
  }
}

.partner-pac .partner-intro .partner-block .inner .image img {
  max-width: 66%;
  margin: 30px 15px;
}

@media only screen and (max-width: 1023px) {
  .partner-pac .partner-intro .partner-block .inner .image img {
    margin: 0 auto;
    max-width: 75%;
    margin-bottom: 15px;
  }
}

.partner-pac .partner-intro .partner-block .inner .content {
  width: 66%;
  font-size: 23px;
}

@media only screen and (max-width: 1023px) {
  .partner-pac .partner-intro .partner-block .inner .content {
    width: 100%;
    font-size: 18px;
  }
}

.partner-pac .partner-intro .partner-block .inner .content > * {
  padding: 15px;
  margin: 0;
}

.partner-pac .partner-intro .partner-block.logo-right .inner {
  flex-flow: row-reverse wrap;
}

.partner-pac .partner-quotes .pullquote {
  margin: 50px 0 0;
}

.partner-pac .partner-quotes .pullquote .inner {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
}

.partner-pac .partner-quotes .pullquote .inner .image {
  width: 33%;
}

@media only screen and (max-width: 1023px) {
  .partner-pac .partner-quotes .pullquote .inner .image {
    width: 100%;
  }
}

.partner-pac .partner-quotes .pullquote .inner .image img {
  max-width: 100%;
}

.partner-pac .partner-quotes .pullquote .inner .content {
  width: 63%;
  font-size: 24px;
  color: #666;
}

@media only screen and (max-width: 1023px) {
  .partner-pac .partner-quotes .pullquote .inner .content {
    width: 100%;
  }
}

.partner-pac .partner-quotes .pullquote .inner .content span.quote {
  display: block;
  color: #23bfee;
  font-size: 150px;
  font-weight: 900;
  line-height: 25px;
}

.partner-pac .partner-quotes .pullquote.image_right .inner {
  flex-flow: row-reverse wrap;
}

.partner-pac .partner-quotes .pullquote.image_right .inner .content span.quote {
  text-align: right;
}

.partner-pac .partner-quotes .pullquote.no_image .inner .image {
  display: none;
}

.partner-pac .partner-quotes .pullquote.no_image .inner .content {
  width: 100%;
}

.partner-pac .partner-quotes .pullquote.no_image .inner .content span.quote {
  text-align: right;
}

.partner-pac .partner-states {
  background-color: #F7F6F8;
}

@media only screen and (max-width: 1023px) {
  .partner-pac .partner-states .content {
    text-align: center;
  }
}

.partner-pac .partner-products .product-grid {
  justify-content: center;
}

.partner-pac .partner-products .product-grid .content .extra ul {
  padding-left: 0;
  list-style: none;
}

.partner-pac .partner-products .product-grid .content .extra ul li {
  list-style: none;
}

.partner-pac .partner-products .product-grid .content .extra ul li:before {
  content: '';
  display: inline-block;
  position: relative;
  top: 7px;
  height: 28px;
  width: 28px;
  margin-right: 7px;
  background-image: url("https://go.dreamspring.org/hubfs/check.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.partner-pac .partner-questions #hs_cos_wrapper_partner_form .inputs-list.multi-container {
  list-style: none;
  padding-left: 0;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

.partner-pac .partner-questions #hs_cos_wrapper_partner_form .hs-error-msgs {
  padding-left: 0;
  list-style: none;
}

.partner-pac .partner-questions #hs_cos_wrapper_partner_form .hs-error-msgs li {
  background-color: #f5ca99;
}

.partner-pac .partner-questions #hs_cos_wrapper_partner_form .hs-error-msgs li .hs-error-msg {
  display: block;
  padding: 15px;
  font-weight: bold;
}

.partner-pac .partner-apply .content-area {
  margin: 50px 0 0;
}

.partner-pac .partner-apply .content-area .inner {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
}

.partner-pac .partner-apply .content-area .inner .image {
  width: 33%;
}

@media only screen and (max-width: 1023px) {
  .partner-pac .partner-apply .content-area .inner .image {
    width: 100%;
  }
}

.partner-pac .partner-apply .content-area .inner .image img {
  max-width: 100%;
}

.partner-pac .partner-apply .content-area .inner .content {
  width: 63%;
  font-size: 24px;
  color: #666;
}

@media only screen and (max-width: 1023px) {
  .partner-pac .partner-apply .content-area .inner .content {
    width: 100%;
  }
}

.partner-pac .partner-apply .content-area .inner .content span.quote {
  display: block;
  color: #23bfee;
  font-size: 150px;
  font-weight: 900;
  line-height: 25px;
}

.partner-pac .partner-apply .content-area.image_right .inner {
  flex-flow: row-reverse wrap;
}

.partner-pac .partner-apply .content-area.image_right .inner .content span.quote {
  text-align: right;
}

.partner-pac .partner-apply .content-area.no_image .inner .image {
  display: none;
}

.partner-pac .partner-apply .content-area.no_image .inner .content {
  width: 100%;
}

.partner-pac .partner-apply .content-area.no_image .inner .content span.quote {
  text-align: right;
}

.partner-pac .partner-apply form.pac-id {
  display: flex;
  flex-flow: row;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 15px;
}

@media only screen and (max-width: 1023px) {
  .partner-pac .partner-apply form.pac-id {
    flex-flow: row wrap;
  }
}

.partner-pac .partner-apply form.pac-id input.pac-id-field {
  border-color: #CCC;
  margin-right: 15px;
  padding-top: 32px;
  padding-bottom: 32px;
}

@media only screen and (max-width: 1023px) {
  .partner-pac .partner-apply form.pac-id input.pac-id-field {
    margin-bottom: 15px;
  }
}

.partner-pac .partner-apply form.pac-id input.pac-id-submit {
  background-color: #f15a29;
  color: #ffffff;
}

.partner-pac .partner-apply .form-hint {
  background-color: #8fc741;
  color: #ffffff;
  text-align: center;
  padding: 10px;
  margin: 15px 0;
}

.partner-pac .partner-apply .form-hint.hidden {
  display: none;
}

.annual-giving section {
  padding: 60px 0;
}

@media only screen and (max-width: 1023px) {
  .annual-giving section {
    padding: 30px 0;
  }
}

.annual-giving section.annual-hero {
  padding: 0;
  padding-top: 30px;
  position: relative;
}

.annual-giving section.annual-hero .image {
  position: relative;
  width: 100%;
}

.annual-giving section.annual-hero .image img {
  width: 100% !important;
  height: auto !important;
}

.annual-giving section.annual-hero .content {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: url("https://go.dreamspring.org/hubfs/wave-blue-hero-mid.png");
  background-repeat: no-repeat;
  background-size: 112vw;
  background-position: -6vw 21vw;
}

@media only screen and (max-width: 1023px) {
  .annual-giving section.annual-hero .content {
    background: rgba(52, 192, 233, 0.75);
    height: auto;
    position: static;
  }
}

.annual-giving section.annual-hero .content h1 {
  padding: 0;
  margin: 0;
  position: absolute;
  bottom: 0;
  color: #ffffff;
}

@media only screen and (min-width: 1024px) {
  .annual-giving section.annual-hero .content h1 {
    font-size: 3.75vw;
    font-size: clamp(3.75px, 4vw, 56px);
    line-height: 1em;
    text-align: center;
    padding-bottom: 0;
    padding-top: 0;
    bottom: 22%;
    max-width: 1100px;
  }
}

@media only screen and (max-width: 1023px) {
  .annual-giving section.annual-hero .content h1 {
    position: static;
    padding: 0.25em 0;
    font-size: 30px;
    text-align: center;
  }
}

@media only screen and (max-width: 1023px) {
  .annual-giving section.annual-donate iframe {
    margin-top: 30px;
  }
}

.annual-giving section.annual-testimonial .content p {
  line-height: 1.7em;
}

.annual-giving section.annual-testimonial .content img.quote {
  width: 100px;
  margin-bottom: 15px;
  display: block;
}

.annual-giving section.annual-testimonial .video p {
  margin-top: 15px;
}

.annual-giving section.wave-blue {
  padding: 60px 0;
}

.annual-giving section.wave-blue:before {
  display: block;
  content: '';
  background: url("https://go.dreamspring.org/hubfs/wave-blue-top.jpg");
  background-size: 100% 115px;
  height: 130px;
  border-bottom: solid 15px #d2f2fc;
}

@media only screen and (max-width: 1023px) {
  .annual-giving section.wave-blue:before {
    height: 80px;
    background-size: 100% 65px;
  }
}

.annual-giving section.wave-blue:after {
  display: block;
  content: '';
  background: url("https://go.dreamspring.org/hubfs/wave-blue-bottom.jpg");
  background-size: 100% 100px;
  height: 100px;
  margin-top: -10px;
}

@media only screen and (max-width: 1023px) {
  .annual-giving section.wave-blue:after {
    height: 65px;
    background-size: 100% 65px;
  }
}

.annual-giving section.wave-blue .inner {
  background-color: #d2f2fc;
}

.annual-giving section.wave-blue .inner .image img {
  border-radius: 6px;
}

.annual-giving section.wave-blue .inner .content p {
  line-height: 1.7em;
}

.annual-giving section.outro .content .inner > * {
  position: relative;
  z-index: 3;
}

.annual-giving section.outro .content .inner p {
  line-height: 1.7em;
  font-size: 18px;
}

.annual-giving section.outro .image img {
  border-radius: 6px;
}

.annual-giving section.outro .button {
  margin-top: 30px;
}

.annual-giving h2 span.leaf {
  display: inline-block;
  background-color: #8fc741;
  width: 55px;
  height: 25px;
  border-top-left-radius: 50px;
  border-bottom-right-radius: 50px;
  position: relative;
  top: -10px;
  margin-left: -2px;
}

@media only screen and (max-width: 1023px) {
  .annual-giving h2 span.leaf {
    top: 0;
  }
}

.pre-header {
  width: 100%;
  background-color: #fedabb;
  text-align: center;
}

.pre-header p {
  color: #dc6502;
  padding: 0.33em 0;
}

.pre-header p a {
  font-weight: bold;
  color: #c35a02;
  text-decoration: underline;
}

.btn-xl {
  padding: 1.125rem 1.125rem;
  font-size: 1.75rem;
  line-height: 1.5;
  border-radius: 0.75rem;
}
