section.home-hero-wave {
    background-size: cover;
    background-repeat: no-repeat;
    padding-bottom: 0;
    margin-top: 30px;
    @include breakpoint(mobile){
        background-size: 100%;
        background-color: $blue-brand;
    }
    .inner {
        overflow: hidden;
        position: relative;
        min-height: 720px;
        display: flex;
        flex-flow: column-reverse;
        @include breakpoint(mobile){
            min-height: auto;
        }
        .home-hero-content {
            // padding-bottom: 100px;
            padding-bottom: 4vw;
            z-index: 8;
            .content-inner {
                width: 100%;
                text-align: center;
                h1, h2, h3, h4, p {
                    color: white;
                }
                @include breakpoint(desktop){
                    h1 {
                        font-size: clamp(66px, 4vw, 99px);
                        line-height: 1em;
                        padding-bottom: 25px;
                    }                    
                }
                @include breakpoint(mobile){
                    h1 {
                        line-height: 1em;
                    }
                }
                img {
                    width: 250px;
                    @include breakpoint(mobile){
                        width: 75%;               
                        margin-top: 110px;
                    }   
                }
            }
        }
        .wave {
            position: absolute;
            width: 100%;
            // bottom: -80px;
            bottom: -10vw;
            height: 37vw;
            z-index: 7;
            @media (min-width: 1600px) {
                bottom: -20vw;
            }
            img {
                width: 100%;
            }
        }
    }
    &.testimonial {
        margin-bottom: 60px;
        .inner {
            .home-hero-content {
                @include breakpoint(mobile){
                    padding-top: 185px;
                }
                p {
                    margin: 0 auto;
                    font-size: 19px;
                    width: 55vw;
                    line-height: 1.7em;
                }
                h4 {
                    font-size: 14px;
                    font-weight: normal;
                    padding: 25px 0;
                }
            }
            .wave {
                bottom: -190px;
                @media (min-width: 1600px) {
                    bottom: -20vw;
                }
            }
        }
        a.btn {
            background-color: rgba(0,0,0,0.25);
            border: none;
        }
    }
}

section.state-hero-wave {
    background-size: cover;
    background-repeat: no-repeat;
    padding-bottom: 0;
    margin-top: 30px;
    @include breakpoint(mobile){
        background-size: 100%;
        background-color: $blue-brand;
    }
    .inner {
        overflow: hidden;
        position: relative;
        //min-height: 720px;
        min-height: 630px;
        display: flex;
        flex-flow: column-reverse;
        @include breakpoint(mobile){
            min-height: auto;
        }
        .home-hero-content {
            // padding-bottom: 100px;
            padding-bottom: 1vw;
            z-index: 8;
            .content-inner {
                width: 100%;
                h1, h2, h3, h4, p {
                    color: white;
                }
                @include breakpoint(desktop){
                    h1 {
                        font-size: clamp(50px, 4vw, 99px);
                        line-height: 1em;
                        padding-bottom: 0;
                    }                    
                }
                @include breakpoint(mobile){
                    h1 {
                        line-height: 1em;
                    }
                }
                a.btn {
                    position: absolute;
                    right: 15vw;
                    bottom: 3vw;
                }
            }
        }
        .wave {
            position: absolute;
            //width: 100%;
            width: 150%;
            // bottom: -80px;
            bottom: -10vw;
            left: -48vw;
            height: 37vw;
            z-index: 7;
            @media (min-width: 1600px) {
                bottom: -20vw;
            }
            img {
                width: 100%;
            }
        }
    }
    &.testimonial {
        margin-bottom: 60px;
        .inner {
            .home-hero-content {
                @include breakpoint(mobile){
                    padding-top: 185px;
                }
                p {
                    margin: 0 auto;
                    font-size: 19px;
                    width: 55vw;
                    line-height: 1.7em;
                }
                h4 {
                    font-size: 14px;
                    font-weight: normal;
                    padding: 25px 0;
                }
            }
            .wave {
                bottom: -190px;
                @media (min-width: 1600px) {
                    bottom: -20vw;
                }
            }
        }
        a.btn {
            background-color: rgba(0,0,0,0.25);
            border: none;
        }
    }
}

a.hasarrow {
    &:after {
    content: '→';
    display: inline-block;
    height: 1.25em;
    width: 1.25em;
    line-height: 1.15em;
    background-color: #f15a28;
    color: #ffffff;
    border-radius: 50px;
    margin-left: 6px;
    }
    &.downarrow {
        &:after {
            display: block;
            margin-left: auto;
            margin-right: auto;
            margin-top: 15px;
            transform: rotate(90deg);
        }
    }
}

a.btn {
    &.btn-gray {
        background-color: #AAA;
        color: #FFF;
    }
    &.btn-blue {
        background-color: $blue-brand;
        color: #FFF;
    }
}

section.hero-wave {
    padding: 0;
    position: relative;
    .content {
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 100%;
        background: url('https://go.dreamspring.org/hubfs/wave-blue-hero-mid.png'); 
        background-repeat: no-repeat;
        background-size: 109vw; //this is a bit dependent on the size of the image, default 2000 x 860
        background-position: -5vw 20vw; //this is a bit dependent on the size of the image
        @include breakpoint(mobile){
            background: $blue-brand-transparent;
            height: auto;
            position: static;
        }
        .container {
            position: relative;
            max-width: none;
            @include breakpoint(desktop){
                height: 33vw;                
            }
            h1 {
                padding: 0;
                margin: 0;
                position: absolute;
                bottom: 0;
                color: $white;
                @include breakpoint(desktop){
                    font-size: 3.75vw;
                    //font-size: max(3.75vw, 45px);
                    font-size: clamp(3.75px, 4vw, 56px);
                    // font-size: 40px;
                    line-height: 1em;
                    text-align: center;
                    padding-bottom: 0;
                    padding-top: 0;
                    bottom: 10%;
                    // max-width: 1100px;
                    width: 100%;
                    display: block;
                }
                @include breakpoint(mobile){
                    position: static;
                    padding: 0.25em 0;
                    font-size: 30px;
                    text-align: center;
                    // white-space: nowrap;
                }
            }
        }
    }
    .image {
        img {
            width: 100%;
            max-width: 100%;
        }
    }
}

section.wave-blue {
    padding: 60px 0;
    &:before {
        display: block;
        content: '';
        background: url('https://go.dreamspring.org/hubfs/wave-blue-top.jpg');
        background-size: 100% 115px;
        height: 130px;
        border-bottom: solid 15px #d2f2fc;
        @include breakpoint(mobile) {
            height: 80px;
            background-size: 100% 65px;
        }
    }
    &:after {
        display: block;
        content: '';
        background: url('https://go.dreamspring.org/hubfs/wave-blue-bottom.jpg');
        background-size: 100% 100px;
        height: 100px;
        margin-top: -10px;
        @include breakpoint(mobile) {
            height: 65px;
            background-size: 100% 65px;
        }
    }
    .inner {
        background-color: #d2f2fc;
        padding-bottom: 30px;
        .image {
            img {
                border-radius: 6px;
            }
        }
        .content {
            p {
                line-height: 1.7em;
            }
        }
    }
}

section.wave-blue-dark {
    padding: 60px 0;
    margin-top: 120px;
    margin-bottom: 120px;
    background: #23c0f1;
    color: $white;
    &:before {
        content: '';
        display: block;
        width: 100%;
        height: 118px;
        background: url(https://go.dreamspring.org/hubfs/wave-blue-dark-top.png) no-repeat;
        background-size: 100% 59px;
        margin-top: -118px;
        margin-bottom: -50px;
    }
    &:after {
        content: '';
        display: block;
        width: 100%;
        height: 118px;
        background: url(https://go.dreamspring.org/hubfs/wave-blue-dark-bottom.png) no-repeat;
        background-size: 100% 59px;
        position: relative;
        top: 118px;
        // top: 175px;
        margin-top: -118px;
    }
    div.bg-light {
        background-color: #23c0f1 !important;
    }
    > h1, h2, h3 {
        color: #FFF;
    }
}

.home_product_tabs_hubdb {
    .bg-light {
        .container {
            padding-bottom: 0 !important;
            padding-top: 0 !important;
            .nav-box {
                @include breakpoint(mobile){
                    justify-content: center;
                }
                .nav-item.w-100.mx-0 {
                    @include breakpoint(mobile){
                        width: 50% !important;
                        a {
                            padding: 1rem !important;
                        }
                    }
                }
                a.nav-link.active {
                    h4 {
                    color: #222 !important;
                    }   
                }
                .nav-item {
                    border-top: solid 1px $black10;
                    @include breakpoint(mobile){
                        border: none;
                        h4 {
                            @include breakpoint(mobile){
                            font-size: 17px;
                            text-align: center;
                            color: #fff;
                            }
                        }
                    }
                    h4 {
                        color: #fff !important;
                    }
                    &:first-child {
                        border-top: none;
                    }
                }
            }
        }
    }
}

section.wave-blue-light {
    padding: 60px 0;
    padding-bottom: 0 !important;
    background: #dbf5fe;
    margin-top: 120px;
    margin-bottom: 120px;
    color: $black;
    &:before {
        content: '';
        display: block;
        width: 100%;
        height: 118px;
        background: url(https://go.dreamspring.org/hubfs/wave-blue-light-top.png) no-repeat;
        background-size: 100% 59px;
        //margin-top: -118px;
        margin-top: -115px;
        margin-bottom: -50px;
    }
    &:after {
        content: '';
        display: block;
        width: 100%;
        height: 118px;
        background: url(https://go.dreamspring.org/hubfs/wave-blue-light-bottom.png) no-repeat;
        background-size: 100% 59px;
        position: relative;
        top: 118px;
        margin-top: -118px;
    }
    div.bg-light {
        background-color: #dbf5fe !important;
    }
}

section.search-results {
    .hs-search-field {
        margin-bottom: 30px;
    }
    .hs-search-field--open .hs-search-field__suggestions {
        border: solid 1px #CCC;
        border-top: none;
    }
    .hs-search-field__suggestions {
        li {
            &#results-for {
                padding: 5px 10px;
            }
            a {
                display: block;
                padding: 5px 10px;                
            }
        }
    }
    li.search-result {
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 4;
        overflow: hidden;
        margin-bottom: 10px;

        .hs-search-results__featured-image {

        }
        a.hs-search-results__title {
            font-size: 18px;
            display: block;
            margin-bottom: 5px;
        }
        p {
            overflow: hidden;
            max-width: 100%;
            text-overflow: ellipsis;
            width: fit-content;
            white-space: nowrap;
        }
    }
    h1 {
        span {
            color: $blue-brand;
            font-weight: 300;
        }
    }
    .hs-search-highlight.hs-highlight-html {
        color: $black-brand;
    }
}

div.search-flyout {
    position: absolute;
    top: 46px;
    right: 0;
    width: 100%;
    height: 110px;
    background: #fff;
    transition: all 250ms;
    z-index: 9999;
    border-bottom: solid 1px #eee;
    &.inactive {
        top: -156px;    
        border-bottom: solid 1px transparent;
    }
    @include breakpoint(mobile){
        top: 67px;
        height: 86px;
    }
    .hs-search-field {
        padding-top: 30px;
        @include breakpoint(mobile){
            padding-top: 16px;
        }
        .hs-search-field__input {
            @include breakpoint(mobile){
                padding-left: 50px;
            }
        }
        .hs-search-field__bar {
            position: relative;
            button {
                position: absolute;
                top: 14px;
                right: 15px;
                background: none;
                border: none;
                span {
                    svg {
                        position: relative;
                        top: -5px;
                        height: 20px;
                    }
                }
            }
        }
    }
    .hs-search-field--open .hs-search-field__suggestions {
        border: solid 1px #CCC;
        border-top: none;
    }
    .hs-search-field__suggestions {
        li {
            background: $white;
            &#results-for {
                padding: 5px 10px;
            }
            a {
                display: block;
                padding: 5px 10px;                
            }
        }
    }
    a.search-dismiss {
        font-size: 45px;
        position: fixed;
        left: 60px;
        top: 63px;    
        transition: all 250ms;
        @include breakpoint(mobile){
            left: 28px;
            top: 73px;
        }
        &:hover {
            color: $black-brand;
        }
        &.inactive {
            display: none;
        }
    }
}

li.search-trigger {
    a {
        display: block;
        margin-left: 18px;
        svg {
            width: 18px;
            position: relative;
            top: -2px;
            path {
                fill: $black-brand;
            }
        }
        &:hover {
            svg {
                path {
                    fill: $orange;
                }
            }
        }
    }
}

section.howtoapply-module {
    .inner-content {
        p {
            line-height: 1.7em;
        } 
    }

    ul.step-headers {
        padding: 0;
        margin: 0;
        list-style-type: none;
        line-height: 1em;
        display: flex;
        flex-flow: row;
        @include breakpoint(mobile){
            display: none;
        }
        li {
            display: block;
            padding: 30px 30px 30px 133px;
            background: #333;
            color: #fff;
            position: relative;
            width: 32%;
            margin: 0 5px;
            font-size: 25px;
            text-align: left;
            letter-spacing: 0.05em;
            background-repeat: no-repeat;
            background-position: 60px 20px;
            background-size: 38px;
            &:before {
                content: '';
                border-left: 18px solid #fff;
                border-top: 39px solid transparent;
                border-bottom: 37px solid transparent;
                position: absolute;
                top: 0;
                left: 0px;
            }
            &:after {
                content: '';
                border-left: 18px solid #333;
                border-top: 39px solid transparent;
                border-bottom: 37px solid transparent;
                position: absolute;
                top: 0;
                left: 100%;
                z-index: 20;
            }
            &#step-1-header {
                background-color: #8fc741;
                &:before {
                    display: none;
                }
                &:after {
                    border-left-color: #8fc741;
                }
            }
            &#step-2-header {
                background-color: #22bcec;
                background-position: 60px 25px;
                &:before {
                }
                &:after {
                    border-left-color: #22bcec;
                }

            }
            &#step-3-header {
                background-color: #f15a28;   
                &:before {
                }
                &:after {
                    border-left-color: #f15a28;
                }
            }
        }
    }
    ul.step-content {
        padding: 0;
        list-style-type: none;
        margin-bottom: 30px;
        line-height: 1em;
        display: flex;
        flex-flow: row;
        @include breakpoint(mobile){
            display: block;
        }

        li {
            display: block;
            padding: 10px 30px 10px 40px;
            color: $black;
            position: relative;
            width: 32%;
            margin: 0 5px;
            border-top: solid 8px $white;
            @include breakpoint(mobile){
                width: 100%;
                margin: 0;
                padding: 0;
            }
            h4 {
                padding: 10px 0;
                @include breakpoint(desktop){
                    display: none;
                }
            }
            p {
                font-size: 28px;
                line-height: 1.1em;
                padding: 0 15px;
                @include breakpoint(mobile){
                    font-size: 18px;
                    padding: 15px;
                }
            }
            &#step-1-content {
                background-color: #f4f9ec;
                h4 {
                    background-color: #8fc741;
                    color: $white;
                }
            }
            &#step-2-content {
                background-color: #e8f8fd;
                h4 {
                    background-color: #22bcec;
                    color: $white;
                }
            }
            &#step-3-content {
                background-color: #feeee9;
                h4 {
                    background-color: #f15a28;
                    color: $white;
                }
            }
        }
    }
}

table.productComparison.nonmodal {
    border-collapse: collapse;
    background-color: $black10;
    width: 100%;
    tr {
        th, td {
            padding: 0.5em 1em;
            @include breakpoint(sm){
                font-size: 12px;
            }
            @include breakpoint(md){
                font-size: 13px;
            }
            @include breakpoint(lg){
                font-size: 13px;
            }
            &.haslink, &.range {
                white-space: nowrap;
                @include breakpoint(md){
                    white-space: normal;
                }
            }
        }
        th {
            padding: 1em;
            white-space: nowrap;
            color: $white;
            background-color: #23c0f1;
        }
        &:nth-child(even) {
            background-color: $white;
        }
    }
}

#productComparisonMobile.nonmodal {
    .product {
        padding: 15px 0;
        margin-bottom: 10px;
        h4 {
            color: $orange-dark;
        }
        &:nth-child(odd){
            background-color: $black10;
        }
        h5 {
            margin-bottom: 5px;
        }
        a.hasarrow {
        }
    }
}

section.partnercreative-header {
    .logos-container {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        align-items: center;
        padding: 15px 0;
        .logo-dreamspring {
            @include breakpoint(mobile){
                img {
                    width: 100% !important;
                    margin: 0 auto;
                }
            }
        }
    }
}

section.partnercreative-hero {
    > .inner {
        padding: 5vw 0;
        background-size: cover;
    }
    h1 {
        color: $white;
        @include breakpoint(desktop){
            width: 75%;
            font-size: 100px;
            line-height: 1.1em;
        }
        @include breakpoint(mobile){
            font-size: 25px;
            width: 65%;
        }
        em {
            font-style: normal;
            display: block;
            font-size: 40%;
            span {
                font-size: 150%;
                display: inline-block;
                margin-left: 0.2em;
            }
        }
    }
    a.btn-xl {
        @include breakpoint(mobile){
            font-size: 1.25rem;
        }
    }
    h2 {
        color: $white;
        @include breakpoint(desktop){
            width: 52%;
            font-size: 82px;
            line-height: 1.1em;
            margin-bottom: 30px;
        }
        @include breakpoint(mobile){
            font-size: 25px;
            width: 65%;
        }
        
    }
    .content {
        padding-top: 30px;
        .sectionlink {
            .inner > span {
                display: block;
            }
            img {
                max-width: 75%;
                border-radius: 100%;
            }
            &.midlink {
                border-left: solid 1px #CCC;
                border-right: solid 1px #CCC; 
            }
            &.borderleft {
                border-left: solid 1px #CCC;
            }
            &.borderright {
                border-right: solid 1px #CCC;
            }
            h3 {
                font-size: 28px;
                line-height: 1.1em;
                margin: 15px auto;
                width: 75%;
            }
            a.hasarrow {
                color: $black-brand;
                @include breakpoint(mobile){
                    margin-bottom: 25px;
                    display: block;
                }
            }
        }
    }
}

section.partnercreative-intro {
        .dreamcreative-brand {
            display: flex;
            flex-flow: row wrap;
            justify-content: space-between;
            align-items: center;
            .dsplogo {
                width: 70%;
                @include breakpoint(mobile){
                    width: 100%;
                }
                img {                
                    display: block;
                    @include breakpoint(desktop){
                        width: 85%;
                        margin: 0 auto;
                    }
                    @include breakpoint(mobile){
                        margin-top: 15px;
                    }
                }
            }
            .logo-partners {
                display: flex;
                flex-flow: row;
                justify-content: end;
                width: 30%;
                padding-top: 30px;
                @include breakpoint(mobile){
                    width: 100%;
                    justify-content: center;
                }

                .logos {
                display: flex;
                flex-flow: row;
                align-items: center;
                span {
                    color: #333;
                    display: block;
                    font-size: 14px;
                    margin-right: 15px;
                    margin-top: 3px;
                    text-align: right;
                    @include breakpoint(mobile){
                        font-size: 12px;
                        margin-right: 10px;
                        margin-top: -7px;
                    }
                }
                img {
                    @include breakpoint(desktop){
                        width: 142px;                        
                        max-width: none;
                    }
                    @include breakpoint(mobile){
                        width: 80px;
                    }
                }
            }
        }   
    }

 
    .intro-cards {
        .inner {
            border-radius: 8px;
            background: #fff;
            padding-bottom: 15px;
            img {
                border-top-left-radius: 8px;
                border-top-right-radius: 8px;
                margin-bottom: 15px;
            }
            h3 {
                padding: 0 25px;
                font-size: 28px;
                line-height: 1.1em;
            }
            p {
                padding: 0 15px;
            }
        }
    }
}

section#partnercreative-faq {
    padding-bottom: 0 !important;
    margin-bottom: 0 !important;
    &:after {
        background: none;
    }
    #basicsAccordion {
        border-top: solid 1px $white;
        padding-top: 14px;
    }
    h2 {
        text-align: center;
        font-size: 64px;
        margin-bottom: 0.75em;
        @include breakpoint(mobile){
            font-size: 30px;
            line-height: 1.1em;
        }
    }
    .card {
        background: none;
        .card-header {
            background: none;
            border-bottom: solid 1px $white;
            a {
                padding-bottom: 1em;
            }
        }
        a {
            background: none !important;
            color: $white;
            font-size: 30px;
            @include breakpoint(mobile){
                font-size: 20px;
            }
            .btn-link:hover, .card-btn-toggle {
                color: $white;
                font-size: 50px;
                font-weight: 100;
                font-family: system-ui;
                line-height: 46px;
            }
        }
    }
}

section.partnercreative-faq-extra {
    padding: 0 0 60px 0;
    color: $white;
    @include breakpoint(mobile){
        padding-bottom: 30px;
    }
    h3 {
        @include breakpoint(desktop){
            font-size: 45px;
            margin-bottom: 25px;
        }
        @include breakpoint(mobile){
            padding-bottom: 20px;
            margin-top: -45px;
        }
        color: $white;
    }
}

section.partnercreative-testimonials {
    .container-xl {
        @include breakpoint(desktop){
            padding-top: 0 !important;
            padding-bottom: 0 !important;
        }
        h2 {
            color: $black-brand;
            @include breakpoint(desktop){
                font-size: 43px;
            }
        }
        .slick-arrow-primary-white:not(.slick-disabled) {
            background-color: #f15a29;
            color: $white;
        }
    }
}

section.dreamcreative-cta-container {
    h2 {
        @include breakpoint(desktop){
            font-size: 43px;
        }
    }
}

li.icon-checklist {
    list-style: none;
    list-style-type: none;
    list-style-image: none;
}

section.image-header {
    margin-bottom: -125px;
    margin-top: 15px;
    img {
        width: 100% !important;
        height: auto !important;
    }
    &.mid-image {
        margin-bottom: 60px;
    }
}

h2.header-green-leaf, h3.header-green-leaf {
    background-color: #8fc741;
    color: $white;
    line-height: 1em;
    padding: 1em 0 .65em 1.25em;
    letter-spacing: -0.025em;
    border-top-left-radius: 250px;
    border-bottom-right-radius: 250px;
    // @include breakpoint(desktop){
    //     font-size: clamp(75px, 4vw, 100px);
    // }
    // @include breakpoint(mobile){
    //     font-size: 13vw;
    // }
}

h1, h2, h3 {
    span.leaf { //header eyebrow
        display: inline-block;
        background-color: $green-brand;
        width: 1.5em;
        height: 0.75em;
        border-top-left-radius: 50px;
        border-bottom-right-radius: 50px;
        position: relative;
        top: -0.5em;
        margin-left: 0.5em;
        @include breakpoint(mobile){
            top: 0;
        }   
    }   
}

section.home-stats {
    .title {
        h2 {
            background-color: #8fc741;
            // width: 90%;
            font-size: 5vw;
            color: $white;
            line-height: 1em;
            padding: 1.2em 0 0.65em 1.35em;
            font-weight: 700;
            letter-spacing: -0.025em;
            border-top-left-radius: 250px;
            border-bottom-right-radius: 250px;
            margin-left: -10%;
            @include breakpoint(desktop){
                font-size: clamp(55px, 4vw, 70px);
            }
            @include breakpoint(mobile){
                font-size: 11vw;
                padding: 0.5em 0 0.65em 1.35em;
                margin-left: 0;
                border-top-left-radius: 50px;
                border-bottom-right-radius: 50px;                    
            }
            @include breakpoint(lg){
                font-size: 65px !important;
                padding-top: 55px !important;
            }
            @include breakpoint(md){
                font-size: 55px !important;
                padding-top: 45px !important;
                padding-left: 50px !important;
                border-bottom-right-radius: 150px !important;
                border-top-left-radius: 150px !important;
            }
        }
        .title-content {
            line-height: 1.7em;
            font-size: 18px;
            @include breakpoint(desktop){
                padding-left: 30px;                    
            }
        }
    }
    .stats-items {
            display: flex;
            flex-flow: row wrap;
            justify-content: space-between;
            padding-top: 60px;
        .stats-item {
            width: 50%;
            text-align: center;
            margin-bottom: 40px;
            .stat-eyebrow {
                display: block;
                height: 8px;
                width: 60px;
                margin: 0 auto;
                background-color: #333;
                margin-bottom: 10px;
                &#lent, &#loans {
                    background-color: #8fc741; 
                }
                &#jobs {
                    background-color: #22bcec; 
                }
                &#businesses {
                    background-color: #f15a28; 
                }
            }
            h5 {
                text-transform: uppercase;
                font-size: 13px;
                margin-bottom: 0;
                padding-bottom: 10px;
                letter-spacing: 0.1em;
                color: #666;
                @include breakpoint(mobile){
                    font-size: 12px;
                }
            }
            .stat {
                color: $black;
                letter-spacing: -0.05em;
                font-weight: 600;
                line-height: 1em;
                .currency {
                    font-size: 2.75vw;
                    margin-right: -0.25em;
                    @include breakpoint(mobile){
                        font-size: 7vw;
                    }
                }                    
                .WASjs-counter {
                    font-size: 2.75vw;
                    @include breakpoint(mobile){
                        font-size: 7vw;
                    }
                    @include breakpoint(lg){
                        font-size: 30px !important;
                    }
                    @include breakpoint(md){
                        font-size: 30px !important;
                    }

                }                    
                .last-symbol {
                    font-size: 2.75vw;
                    @include breakpoint(mobile){
                        font-size: 7vw;
                    }
                    @include breakpoint(lg){
                        font-size: 30px !important;
                    }
                    @include breakpoint(md){
                        font-size: 30px !important;
                    }
                }                    
            }
        }
    }
}

section.how-to-apply {
        .items {
            list-style: none;
            padding: 0;
            margin-top: 60px;

            li {
                position: relative;
                margin-bottom: 30px;

                span {
                    position: absolute;
                    top: -10px;
                    left: calc(50% - 16px);
                    display: block;
                    background-color: white;
                    border: solid 2px black;
                    border-radius: 50%;
                    width: 32px;
                    height: 32px;
                    text-align: center;
                    line-height: 29px;
                    font-weight: bold;
                }

                img {
                    width: 150px;
                }

                label {
                    margin-top: 10px;
                    font-weight: bold;
                    display: block;
                    em {
                        display: block;
                        font-size: 85%;
                        font-style: normal;
                    }
                }
            }
        }
}

//TEMP - replace home modal CSS with this.
#productComparison2.modal {
            .modal-dialog {
                @include breakpoint(desktop){
                    max-width: 90%;
                }
                @include breakpoint(sm){
                    max-width: 100%;
                }
                @include breakpoint(md){
                    max-width: 100%;
                }
                @include breakpoint(lg){
                    max-width: 100%;
                }
            }
        }
        #productComparisonMobile.modal {
            .modal-dialog {
                max-width: 100%;
                .modal-body {
                    padding-top: 0.75rem;
                }
                .product {
                    padding: 15px 0;
                    margin-bottom: 10px;
                    h4 {
                        color: $orange-dark;
                    }
                    &:nth-child(odd){
                        background-color: $black10;
                    }
                    h5 {
                        margin-bottom: 5px;
                    }
                    a.hasarrow {
                    }
                }
            }
        }
        table.productComparison {
            border-collapse: collapse;
            background-color: $black10;
            width: 100%;
            tr {
                th, td {
                    padding: 0.5em 1em;
                    @include breakpoint(sm){
                        font-size: 12px;
                    }
                    @include breakpoint(md){
                        font-size: 13px;
                    }
                    @include breakpoint(lg){
                        font-size: 13px;
                    }
                    &.haslink, &.range {
                        white-space: nowrap;
                        @include breakpoint(md){
                            white-space: normal;
                        }
                    }
                }
                th {
                    padding: 1em;
                    line-height: 1.2em;
                    white-space: nowrap;
                    color: $white;
                    background-color: #23c0f1;
                    span {
                        display: inline-block;
                        background: #666;
                        color: #fff;
                        width: 21px;
                        height: 21px;
                        text-align: center;
                        border-radius: 32px;
                        margin-left: 2px;
                        position: relative;
                        top: -8px;
                    }
                }
                &:nth-child(even) {
                    background-color: $white;
                }
            }
        }
        //end replace