.pre-header {
    width: 100%;
    background-color: #8fc741;
    text-align: center; 
    p {
        color: $white;
        padding: 0.75em 0;
        a {
            font-weight: bold;
            color: $white;
            text-decoration: underline;
        }
    }
}

nav.no-menu {
    display: block;
    text-align: center;
    button.navbar-toggler {
        display: none;
    }
    &.has-text-header {
        @include breakpoint(desktop){
            display: flex;
            flex-flow: row;
            a.navbar-brand {
                margin-right: 30px;
            }            
        }
        @include breakpoint(mobile){
            h1, h2, h3, p {
                text-align: center !important;
            }
            h1 {
                line-height: 1em;
                margin-bottom: 15px;                
            }
        }
    }
}

.btn-xl {
    padding: 1.125rem 1.125rem;
    font-size: 1.75rem;
    line-height: 1.5;
    border-radius: 0.75rem;
}

@include breakpoint(lg){
    #navBar .navbar-nav .nav-link {
        font-size: 15px;
    }
}

#hs_cos_wrapper_widget_1703179498305 { //button on Business Loans page
    text-align: center;
}

#tooMuchPadding {
    .richtext.space-2 {
        padding: 2rem 0 !important;
    }
}