.pre-header {
    width: 100%;
    background-color: lighten($orange, 33%);
    text-align: center;
    p {
        color: darken($orange, 10%);
        padding: 0.33em 0;
        a {
            font-weight: bold;
            color: darken($orange, 15%);
            text-decoration: underline;
        }
    }
}

.btn-xl {
    padding: 1.125rem 1.125rem;
    font-size: 1.75rem;
    line-height: 1.5;
    border-radius: 0.75rem;
}
