.pre-header {
    width: 100%;
    background-color: #8fc741;
    text-align: center; 
    p {
        color: $white;
        padding: 0.75em 0;
        a {
            font-weight: bold;
            color: $white;
            text-decoration: underline;
        }
    }
}

nav.no-menu {
    display: block;
    text-align: center;
    button.navbar-toggler {
        display: none;
    }
    &.has-text-header {
        @include breakpoint(desktop){
            display: flex;
            flex-flow: row;
            a.navbar-brand {
                margin-right: 30px;
            }            
        }
        @include breakpoint(mobile){
            h1, h2, h3, p {
                text-align: center !important;
            }
            h1 {
                line-height: 1em;
                margin-bottom: 15px;                
            }
        }
    }
}

.btn-xl {
    padding: 1.125rem 1.125rem;
    font-size: 1.75rem;
    line-height: 1.5;
    border-radius: 0.75rem;
}

@include breakpoint(lg){
    #navBar .navbar-nav .nav-link {
        font-size: 15px;
    }
}

#hs_cos_wrapper_widget_1703179498305 { //button on Business Loans page
    text-align: center;
}

#tooMuchPadding {
    .richtext.space-2 {
        padding: 2rem 0 !important;
    }
}

.btn-green {
    color: #fff;
    background-color: #8fc741;
    border-color: #8fc741;
    &:hover {
        color: #fff;
        background-color: #8fc741;
        border-color: #8fc741;
    }

    &.focus,
    &:focus {
        color: #fff;
        background-color: #8fc741;
        border-color: #8fc741;
        box-shadow: 0 0 0 .2rem #8fc741;
    }

    &.disabled,
    &:disabled {
        color: #fff;
        background-color: #8fc741;
        border-color: #8fc741;
    }

    &:not(:disabled):not(.disabled).active,
    &:not(:disabled):not(.disabled):active,
    .show>&.dropdown-toggle {
        color: #fff;
        background-color: #8fc741;
        border-color: #8fc741;
    }

    &:not(:disabled):not(.disabled).active:focus,
    &:not(:disabled):not(.disabled):active:focus,
    .show>&.dropdown-toggle:focus {
        box-shadow: 0 0 0 .2rem #8fc741;
    }
}

//form handling
fieldset[class^="form-columns"] {
        ul.inputs-list {
            padding-left: 0;
            li {
                list-style: none;
            }
        }
        input.hs-input[type="radio"], input.hs-input[type="checkbox"] {
            display: inline-block;
            width: 25px !important;
        }            
}

