// PRODUCT DETAIL & APPLICATION READINESS

#main.annual-report, 
#main.product-detail,
#main.application-readiness {
    p {
        line-height: 1.7;
    }

    .intro {
        margin-top: 60px;
        text-align: center;
    }

    .benefits {
        margin-top: 60px;

        .content {
            display: flex;
            flex-flow: column wrap;
            align-items: center;
            align-content: center;
            position: relative;

            @include breakpoint(mobile) {
                text-align: center;
                padding-bottom: 30px;
            }

            a {
                margin-top: 40px;
                min-width: 200px;
                @include breakpoint(mobile) {
                    position: static;
                    left: auto;
                    bottom: auto;
                    display: block;
                    width: 100%;
                }
            }
        }

        .items {
            .item {
                margin-bottom: 30px;

                .heading {
                    display: flex;
                    flex-flow: row;
                    align-items: center;
                    margin-bottom: 15px;

                    h4 {
                        margin-bottom: 0;
                        margin-left: 15px;
                    }

                    img {
                        width: 55px;
                        height: auto;
                    }
                }
            }
        }
    }

    .image {
        margin-top: 60px;
        .inner {
            img {
                max-width: 100%;
                width: 100%; 
                height: auto;
            }
        }
    }

    .features {
        padding: 60px 0;

        h4 {
            @include breakpoint(mobile) {
                margin-top: 30px;
                text-align: center;
            }
        }

        .terms {
            list-style-type: none;
            list-style: none;
            padding-left: 0;

            li {
                background-color: #3ab949;
                padding: 15px;
                color: white;
                display: flex;
                flex-flow: row;
                align-items: center;
                font-size: 2em;
                margin-bottom: 10px;
                font-weight: bold;

                em {
                    font-style: normal;
                    font-weight: normal;
                    font-size: .5em;
                    margin: 0 10px;
                }
            }
        }
        .card {
            span {
                img {
                    border-top-left-radius: 16px;
                    border-top-right-radius: 16px;
                }
            }
        }
    }

    .qualification {
        padding: 60px 0 0 0;

        .intro-heading {
            .heading {
                display: flex;
                flex-flow: row;
                align-items: center;
                margin-bottom: 15px;
                h4 {
                    margin-bottom: 0;
                    margin-left: 15px;
                }
                img {
                    width: 55px;
                    height: auto;
                }
            }
        }
        ul {
            list-style-type: none;
            padding-left: 0;
        }
    }

    .embed-viewer {
        margin-top: 60px;
        padding: 60px 0;
        .button {
            margin-top: 30px;
            a {
                font-size: 24px;
            }
        }
    }

    .client-stories {
        padding: 60px 0;
        .item {
            box-shadow: 0 0 20px $black15;
            background-color: white;
            border-radius: 8px;
            margin-bottom: 30px;
            .inner {
                display: flex;
                flex-flow: row wrap;
                justify-content: space-between;
                @include breakpoint(mobile){
                    display: block;
                }
                .photo {
                    width: 50%;
                    @include breakpoint(mobile){
                        width: 100%;
                    }
                    img {
                        border-top-left-radius: 8px;
                        border-bottom-left-radius: 8px;
                        max-width: 100%;
                        @include breakpoint(mobile){
                            border-top-right-radius: 8px;
                            border-bottom-left-radius: 0;
                        }
                    }
                }
                .content {
                    width: 50%;
                    @include breakpoint(mobile){
                        width: 100%;
                    }
                    .inner {
                        padding: 60px;
                        @include breakpoint(mobile){
                            padding: 30px;
                        }
                    }
                }
                &.image-right {
                    flex-flow: row-reverse wrap;
                    .photo {
                        img {
                        border-top-right-radius: 8px;
                        border-bottom-right-radius: 8px;
                        border-top-left-radius: 0;
                        border-bottom-left-radius: 0;
                        @include breakpoint(mobile){
                            border-top-left-radius: 8px;
                            border-bottom-left-radius: 0;
                            border-bottom-right-radius: 0;
                            }
                        }
                    }
                }
            }
        }
    }

    .donate {
        iframe {
            margin: 0 auto;
        }
    }

    .more-options {
        padding: 60px 0;
        .option {
            padding-top: 30px;
            p {
                padding-top: 15px;
            }
        }
    }

    .product-cta {
        text-align: center;
        padding: 60px 0;
        .carousel {
            p.mb-0 {
                font-size: 12px;
                line-height: 15px;
            }
        }
    }

    .more-info {
        padding: 60px 0;

        .item-1 {
            border-right: solid 1px #ccc;

            @include breakpoint(mobile) {
                padding-bottom: 30px;
                border-right: none;
            }

        }

        .links {
            a {
                display: inline-block;
                margin: 0 1em;
                font-weight: bold;
            }
        }

        .button {
            padding-top: 30px;
        }
    }

    .how-to-apply {
        padding: 0 0 60px 0;

        .items {
            list-style: none;
            padding: 0;
            margin-top: 60px;

            li {
                position: relative;
                margin-bottom: 30px;

                span {
                    position: absolute;
                    top: -10px;
                    left: calc(50% - 16px);
                    display: block;
                    background-color: white;
                    border: solid 2px black;
                    border-radius: 50%;
                    width: 32px;
                    height: 32px;
                    text-align: center;
                    line-height: 29px;
                    font-weight: bold;
                }

                img {
                    width: 150px;
                }

                label {
                    margin-top: 10px;
                    font-weight: bold;
                    em {
                        display: block;
                        font-size: 85%;
                        font-style: normal;
                    }
                }
            }
        }
    }

    .questions {
        padding: 60px 0;
        .button {
            a {
                font-weight: bold;
            }
        }
    }
}

.product-grid {
    // display: grid;
    // grid-template-columns: 1fr 1fr;
    // grid-template-rows: 1fr 1fr 1fr;
    // gap: 0px 0px;
    // grid-template-areas: 
    // ". ."
    // ". ."
    // ". .";
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    @include breakpoint(mobile){
        display: block;
    }
    .product {
        border-radius: 16px;
        box-shadow: 0 0 10px $black15;
        margin: 15px;
        text-align: left;
        position: relative;
        width: 47%;
        @include breakpoint(mobile) {
            width: calc(100% - 30px);
        }
        img {
            width: 100%;
            border-top-left-radius: 16px;
            border-top-right-radius: 16px;
            margin-bottom: 15px;
        }
        .content {
            padding: 25px;
            padding-top: 0;
            padding-bottom: 60px;
            ul {
                padding-left: 20px;
                li {
                    text-align: left;
                }
            }
            .expand-trigger {
                font-weight: bold;
                margin-bottom: 45px;
                a {
                    em {
                        font-style: normal;
                    }
                    strong {
                        display: none;
                    }
                    span {
                        display: inline-block;
                        margin-left: 10px;
                        transition: all 500ms;
                    }
                }
            }
            .extra {
                display: none;
                margin-top: -30px;
            }
            &.expanded {
                .expand-trigger {
                    a {
                        span {
                            transform: rotate(-90deg);
                        }
                    }
                }
            }
        }
        .button {
            text-align: center;
            position: absolute;
            bottom: 0;
            width: 100%;
            padding: 30px 0;
            a {
                font-weight: bold; 
            }
        }
    }
}